@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .active,
    .btn:hover {
        background-color: white;
        color: rgb(78, 61, 232);
    }
    .swiper {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        height: calc((100% - 30px) / 2) !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .swiper-wrapper {
        width: 100vw;
    }
    .container-hover-box {
        inset: 32px 24px 100px 21px;
    }
    .hollow-text {
        font-size: 48px;
        font-weight: bold;
        color: transparent; /* Set text color to transparent */
        -webkit-text-stroke: 2px rgb(4, 22, 82); /* Apply stroke to the text */
        opacity: 0.5; /* Adjust opacity for transparency */
    }
    .swiper-button-next.heroNextBtn {
        top: var(--swiper-navigation-top-offset, 95%);
        left: var(--swiper-navigation-left-offset, 90%);
        color: rgb(29, 16, 144);
        background-color: aliceblue;
        display: block;
        height: 50px;
        width: 50px;
        font-size: 25px;
    }

    .swiper-button-prev.heroPrevBtn {
        top: var(--swiper-navigation-top-offset, 95%);
        color: rgb(29, 16, 144);
        left: var(--swiper-navigation-left-offset, 87%);
        background-color: aliceblue;
        display: block;
        height: 50px;
        width: 50px;
        font-size: 25px;
    }
    .swiper-button-next.heroNextBtn.swiper-button-disabled {
        opacity: 50;
        pointer-events: none;
        color: white;
        background-color: blue;
    }
    .swiper-button-prev.swiper-button-disabled {
        opacity: 50;
        pointer-events: none;
        color: white;
        background-color: blue;
    }
    .swiper-button-disabled {
        opacity: 50;
        pointer-events: none;
        color: white;
        background-color: blue;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        opacity: 0.35;
        cursor: auto;
        pointer-events: none;
        color: blue;
        background-color: white;
    }

    @media only screen and (min-width: 320px) {
        .swiper-button-prev.heroPrevBtn {
            display: block;
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 72%);
        }
        .swiper-button-next.heroNextBtn {
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 85%);
        }
    }
    @media only screen and (min-width: 375px) {
        .swiper-button-prev.heroPrevBtn {
            display: block;
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 75%);
        }
        .swiper-button-next.heroNextBtn {
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 87%);
        }
    }
    @media only screen and (min-width: 425px) {
        .swiper-button-prev.heroPrevBtn {
            display: block;
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 75%);
        }
        .swiper-button-next.heroNextBtn {
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 86%);
        }
    }
    @media only screen and (min-width: 640px) {
        .swiper-button-prev.heroPrevBtn {
            left: var(--swiper-navigation-left-offset, 75%);
        }
    }
    @media only screen and (min-width: 768px) {
        .swiper-button-prev.heroPrevBtn {
            display: block;
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 84%);
        }
        .swiper-button-next.heroNextBtn {
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 90%);
        }
    }
    @media only screen and (min-width: 1024px) {
        .swiper-button-prev.heroPrevBtn {
            display: block;
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 82%);
        }
        .swiper-button-next.heroNextBtn {
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 87%);
        }
    }
    @media only screen and (min-width: 1440px) {
        .swiper-button-prev.heroPrevBtn {
            display: block;
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 88%);
        }
        .swiper-button-next.heroNextBtn {
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 91%);
        }
    }
    @media only screen and (min-width: 2560px) {
        .swiper-button-prev.heroPrevBtn {
            display: block;
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 75%);
        }
        .swiper-button-next.heroNextBtn {
            top: var(--swiper-navigation-top-offset, 95%);
            left: var(--swiper-navigation-left-offset, 77%);
        }
    }

    .swiper-button-next.heroNextBtn::after {
        display: none !important;
    }
    .swiper-button-prev.heroPrevBtn::after {
        display: none !important;
    }

    .swiper-button-next.getQNextBtn::after {
        display: none !important;
    }
    .swiper-button-prev.getQPrevBtn::after {
        display: none !important;
    }
    .swiper-button-next.sliderHoverNextBtn::after {
        display: none !important;
    }
    .swiper-button-prev.sliderHoverPrevBtn::after {
        display: none !important;
    }
    .swiper-button-next.testiNextBtn::after {
        display: none !important;
    }
    .swiper-button-prev.testiPrevBtn::after {
        display: none !important;
    }

    .swiper-button-next.getQNextBtn {
        height: 50px;
        width: 50px;
        font-size: 30px;
    }
    .swiper-button-prev.getQPrevBtn {
        height: 50px;
        width: 50px;
        font-size: 30px;
    }
    .swiper-button-next.sliderHoverNextBtn {
        height: 50px;
        width: 50px;
        font-size: 30px;
        background-color: white;
        right: var(--swiper-navigation-right-offset, 0%);
    }
    .swiper-button-prev.sliderHoverPrevBtn {
        height: 50px;
        width: 50px;
        font-size: 30px;
        background-color: white;
        left: var(--swiper-navigation-left-offset, 0%);
    }
    .swiper-button-next.testiNextBtn {
        height: 50px;
        width: 50px;
        font-size: 30px;
        right: var(--swiper-navigation-right-offset, 5%);
    }
    .swiper-button-prev.testiPrevBtn {
        height: 50px;
        width: 50px;
        font-size: 30px;
        left: var(--swiper-navigation-left-offset, 5%);
    }

    .dancing-script-contact {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}
